{% extends '_helpers/_base.html' %}

{% block body %}
    <h1 class="h3 mb-3 fw-normal" style="text-align: center;">
        Change Your Password</h1>
    <hr>
    <div class="password-change-parent">
        <div class="password-change-child">
            <div id="change-password-form" class="row g-3" style="width: 50vw;">
                <div>
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div style="text-align: center;">
                            <button type="submit" id="login-button" class="btn btn-dark">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
