{% extends '_helpers/_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Edit Account {% endblock %}

{% block body %}
    <h3 style="text-align: center">Edit account information</h3>
    <hr>
    <div class="edit-profile-parent">
        <div class="edit-profile-child">
            <div class="edit-profile-form">
                <form method="post" class="row g-3" style="padding: 10px;">
                    {% csrf_token %}
                    {{ form }}
                    <div class="col-12" style="text-align: center;">
                        <a href="{% url 'clients:account_page' %}" class="btn btn-primary" style="color: white;">&#8592
                            Back to
                            the account page</a>
                        <button type="submit" class="btn btn-success">Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}