{% extends '_helpers/_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Edit Account {% endblock %}

{% block body %}
    <h1>Edit account information</h1>
    <hr>
    <div class="edit-profile-form">
        <h1 class="h3 mb-3 fw-normal"></h1>
        <form method="post" class="row g-3">
            {% csrf_token %}
            {{ form }}
            <div class="col-12" style="text-align: center;">
                <button type="submit" id="sign-up-btn" class="btn btn-success">Update
                </button>
            </div>
        </form>
    </div>
{% endblock %}